@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
}

img {
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    max-width: 100%;
}

h1, span {
    text-align: center;
}

footer {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    width: 200px;
    position: absolute;
    bottom: 0.5em;
    left: calc(50% - 100px);
}

footer a {
    color: hsl(228, 45%, 44%);
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.5em;
    font-weight: 700;
}

.light-text {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    position: absolute;
    left: calc(50% - 10vw);
    top: calc(50% - 30vh);
    height: 60vh;
    width: 20vw;
}

@media screen and (max-width: 768px) {
    main {
        left: calc(50% - 40vw);
        top: calc(50% - 35vh);
        height: 70vh;
        width: 80vw;
    }
}